.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.direction{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
    background-color: aqua;
}

.direction:hover{
    color: white;
    background-color: red;
}

.delane{
    color:blue
}

.joyce{
    color: green;
}

.sergeant{
    color: purple
}

.quirke{
    color:coral;
}

#table1 {
    background-color: white;
    margin: auto;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#table1 td, #table1 th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#table1 tr:nth-child(even){
    background-color: darkolivegreen;
}

#table1 tr:hover {
    background-color: grey;
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: red;
  color: white;
}

h4:hover{
    width:20%;
    color: pink;
    box-shadow: 2px 2px 10px coral;
    border: 2px solid red;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:palegoldenrod
}

ul.navbar-horizontal a {
    display:block;
    padding:8px
}
    /* on hover change the link color*/
ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:white;
}
